
* {
	box-sizing: border-box;
}

.bar-chart-wrap {
	/*margin-top: 20px;
	margin-left: 10px;*/
    margin: 130px 60px 0 40px;
}

.chart-wrapper{
	margin: 10px 60px 0 40px;
}
.date-wrapper {
	/*position: fixed;*/
	/*top: 10px;*/
	/*left: 10px;	*/
	margin-top: 10px;
	margin-left: 10px;
}
html, body{
	margin: 0;
}

.area{
	fill: lightblue;
}
table {
	margin-top: 40px;
	margin-left: 40px;
	border: 1px solid grey;
	border-spacing: 0;
	font-size: 14px;
	color: grey;
	cursor: pointer;
}

tr {
	/**/
}

td ,th{
	height: 30px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: grey;
}

td:first-child {
	padding-left: 10px;	
}

.breach-table-wrapper th:first-child, .breach-table-wrapper td:first-child, .table-wrapper td:first-child{
	background: #ccc;
}

td:last-child {
	border-right-width: 0;
}

tr:last-child > td {
	border-bottom-width: 0;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 15px sans-serif;
    padding: 10px;
    text-align: center;
}

td.highlight{
	background: white !important;
	border: 1px solid black;
	color: black;
}

rect{
	opacity: .7;
}

.highlighted-bar{
	opacity: 1;
	stroke: black;
}

.highlight-window{
	background: rgba(255,255,200,.4);
	position: fixed;
	border: 2px solid black;
	pointer-events: none;
}

.hide{
	display: none;
}

.breach-table-wrapper table{
	margin-top: 10px;
}
.breach-table-wrapper{
	margin-bottom: 30px;
}

header{
	background: white;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0px;
}

tr th:first-child{
	text-align: left;
	padding-left: 10px;
}

.positive_bar{
	fill:green;
}

.negative_bar{
	fill: red;
}

table{
	table-layout: fixed;
}